{% extends "layout.html" %}
<link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
<link rel="manifest" href="../static/images/site.webmanifest">
<link rel="mask-icon" href="../static/images/safari-pinned-tab.svg" color="#2b5797">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#2b5797">
{% block title %}Comments{% endblock %}

{% block content %}
<h1>Comments:</h1>
<form action="/deleteComments">
    <ul class="list-group">
    {% for teamNum in data %}
    	{% for val in data[teamNum] %}
          <div>
            <li class="list-group-item"><input type="checkbox" name="selected" value="{{ val[1] }}"> Team {{ teamNum }}: {{ val[0] }}</li>
          </div>
    	{% endfor %}
    {% endfor %}
    </ul>
<button type="submit">Delete</button>
<button type="submit" formaction="/sendComments">Send Comments</button>
</form>

<br><br>
<!-- return to organizer home -->
<form action="/organizerScreen" method="GET">
    <button type="submit">Return</button>
</form>
<!-- delete checked comments -->
<!-- <form action="/deleteComments" method="GET">
    <button type="submit">Delete</button>
</form> -->

{% endblock %}
