{% extends "layout.html" %}

{% block title %}Organizer Home{% endblock %}

{% block content %}
    <h1>Welcome to the Organizer Homepage!</h1>

    <h3> Upload Projects </h3>
    <!-- redirects to /uploadProjects when button is pressed -->
    <form action="/uploadProjects" method="GET">
            <button type="submit">Upload</button>
    </form>
    <h3> Edit Projects </h3>
    <!-- redirects to /editProjects when button is pressed -->
    <form action="/editProjects" method="GET">
            <button type="submit">Edit</button>
    </form>
    <h3> View Results </h3>
    <!-- redirects to /results when button is pressed -->
    <form action="/results" method="GET">
            <button type="submit">Results</button>
    </form>


{% endblock %}