<!DOCTYPE html>
<html>
<head>
<title>Organizer Homepage</title>
<!-- allows proper scrolling/zoom on mobile device -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- bootstrap: css, jquery, & javascript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- our stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css?version=1">
</head>
<body><center>
    <h1>Welcome to the Organizer Homepage!</h1>

    <h3> Upload Projects </h3>
    <!-- redirects to /uploadProjects when button is pressed -->
    <form action="/uploadProjects" method="GET">
            <button type="submit">Upload</button>
    </form>
    <h3> Edit Projects </h3>

    <h3> View Results </h3>
    <!-- redirects to /results when button is pressed -->
    <form action="/results" method="GET">
            <button type="submit">Results</button>
    </form>


</center></body>
</html>
