{% extends "layout.html" %}

{% block title %}Vote{% endblock %}

{% block content %}
    <h1>{{ data.question }}</h1>
<!-- action is redirect url after form is complete (submit button pressed) -->
<form action="/submitted">
  <!-- creates radio button for each project -->
  {% for teamNum, projName in data.projects.items() %}
     <input type="radio" name="field" value="{{ teamNum }}"> Team {{ teamNum }}: {{ projName }}<br>
  {% endfor %}
  <!-- submit button -->
  <br><input type="submit" value="Vote" />
  <!-- TODO: Add an error message if you hit vote without selecting a project -->
</form>


{% endblock %}
