
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel='stylesheet' type='text/css' href='../static/css/style.css'>
  <script src="../static/js/search.js"></script>
  <script src="../static/js/submitComment.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="What you looking for?">
</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <th class="col-md-5 col-xs-5">Team Number</th>
      <th class="col-md-4 col-xs-4">Team Name</th>
      <th class="col-md-3 col-xs-3">Project Name</th>
      <th class="col-md-3 col-xs-3">Description</th>
      <th class="col-md-3 col-xs-3"></th>
    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>
    {% for teamNum,teamInfo in data.projects.items() %}

      <tr>
        <td>{{teamInfo[0]}}</td>
        <td>{{teamInfo[1]}}</td>
        <td>{{teamInfo[2]}}</td>
        <td>{{teamInfo[3]}}</td>
<!--         <td><div class="radio">
          <label><input type="radio" name="field" value="{{teamNum}}">Vote</label>
        </div></td> -->
        <form action="{{ url_for('poll', teamNumber=teamNum)}}" method='post'>
        <td>
          <input type="submit" value="Vote">
        </td>
        </form>
        <form action="{{ url_for('commentSubmitted', teamNumber=teamNum)}}" id="form{{teamNum}}" method="post">  
          <td>
          <label for="comment">Comment:</label>
          <input style="width:700px" name="comment" type='text' placeholder="Send feedback to the teams" form="form{{teamNum}}">
          <input type="submit" value="Submit Comment" form="form{{teamNum}}">
          </td>
        </form>
      </tr>
    {% endfor %}
  </tbody>
</table>
