<!DOCTYPE html>
<html>
<head>
    <title>Upload Projects</title>
    <!-- bootstrap: css, jquery, & javascript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- our stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css?version=1">
</head>
<body><center>
	<h1>This is where uploaded projects will reside.</h1>

<!-- return to organizer home -->
<form action="/organizerScreen" method="GET">
        <button type="submit">Return</button>
    </form>
</center></body>
</html>
